input {
    margin: 15px;
    width: 90%;
    padding: 18px;
}

textarea {
    width: 98%;
    
}

.quote {
    color: #5e5e5e;
}

@media screen and (max-width: 600px) {
    .col-sm-2 {
        max-width: 100%;
        width: 100% !important;
    }
    }