<div class="container-fluid">
    <div class="gap"></div>
    <div class="row">
        <div class="col-sm-12 text-center">
            <h3 class="header">Online Registration</h3>
        </div>
    </div>

    <div class="gap"></div>

    <div class="container-fluid formbg">

        <div class="gap"></div>
        <!-- form selection  -->
    <div class="container">
        <div class="row text-center ">
            <div class="col-sm-4"></div>

            <div class="col-sm-15mob col-sm-15 text-center" *ngIf="partnership">
                <button pButton type="button" class="p-button-raised" label="Partnership"
                    (click)="selectPartnership();onClick(1)"   [ngClass]="{'active': tab==='tab1'}"></button>
            </div>
            <div class="col-sm-15mob col-sm-15" *ngIf="exhibition">
                <button pButton type="button" class="p-button-raised" label="Exhibition"
                    (click)="selectExhibition();onClick(2)"   [ngClass]="{'active': tab==='tab2'}" ></button>
            </div>
            <div class="col-sm-15mob col-sm-15" *ngIf="conference">
                <button pButton type="button" class="p-button-raised" label="Delegate"
                    (click)="selectCoference();onClick(3)"   [ngClass]="{'active': tab==='tab3'}" ></button>
            </div>
            <div class=" col-sm-15mob col-sm-15" *ngIf="visitor">
                <button pButton type="button" class="p-button-raised" label="Visitor"
                    (click)="selectVisitor();onClick(4)"   [ngClass]="{'active': tab==='tab4'}" ></button>
            </div>
            <div class="col-sm-15mob col-sm-15" *ngIf="vertual">
                <button pButton type="button" class="p-button-raised" label="Virtual"
                    (click)="selectVertual();onClick(5)"   [ngClass]="{'active': tab==='tab5'}"></button>
            </div>

        </div>
    </div>
        <!-- form selection  ends-->




        <div class="gap"></div>
        <div class="row">
            
            <div class="col-sm-12">

                <div class="container-fluid" *ngIf="partnershipForm">
                    
                    <app-partnership [id]=decodedId></app-partnership>
                </div>

                <div class="container-fluid" *ngIf="exhibitionForm">
                    <app-exhibition [id]=decodedId></app-exhibition>
                </div>

                <div class="container-fluid" *ngIf="conferenceForm">
                    <app-coference [id]=decodedId></app-coference>
                </div>

                <div class="container-fluid" *ngIf="visitorForm">
                    <app-visitor [id]=decodedId></app-visitor>
                </div>

                <div class="container-fluid" *ngIf="vertualForm">
                    <app-vertual [id]=decodedId></app-vertual>

                </div>
            </div>
        </div>

        <div class="gap"></div>

    </div>

</div>