footer {
    width: auto;
    height: auto;
    background-color: #056969;
    color: #fff;
    text-align: center;
    padding: 0.35rem;
    font-size: 14px;
    margin-left: -5px !important;
    margin-right: 0px !important;
    font-weight: 300;
  
  
  }
  
  .Copyright {
    background-color:darkslategray;
    margin-top: 20px;
    font-size: 12px;
    color: wheat;
    border-top: 1px solid darkgreen;
  }
  b{
    font-size: 24px;
  }
  
  i {
    color: white;
    font-size: 25px;
    margin-top: 7px;
  }

  input {

    margin-bottom: 10px;
}

.btn {
    margin: 5px;
    background-color: #056969bf;
}

textarea.form-control {
  height: 40px;
  width: 97%;
}