
<div class="gap"><p-scrollTop></p-scrollTop></div>
<div class="gap"></div>
<div class="container-fluid">

<footer id="footer">
<div class="row my-3">



<div class="col-sm-3">
<b style="text-align: center !important;">Address </b>
<div class="address mt-3 ml-2">2nd Floor, 73, 5th main, 1st Cross Rd,<br>
Postal Colony, Sanjaynagar, Bengaluru, Karnataka 560094<br>
<b><i class="fa fa-phone-square fa-lg" aria-hidden="true"></i>
</b> &nbsp; +91-9731775124<br>
<b><i class="fa fa-envelope fa-5x" aria-hidden="true"></i>
</b>&nbsp;&nbsp; info@recommerceeco.com
</div>
<br>
</div>

<div class="col-sm-5 text-center" style="padding-left: 30px;"><b > Locate us </b><br>

<div class="mapouter mt-3 text-center"><div class="gmap_canvas"><iframe width="100%" height="170" id="gmap_canvas" src="https://maps.google.com/maps?q=urdhva&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>

<br/>
<br/>
</div></div>

</div>

<!-- <div class="col-sm-3 text-center" > <b > CHECK MORE: </b>

<div class="row">

<div class="col-sm-12 mt-3">Our Business Platforms</div>
<div class="col-sm-12">Careers </div>


</div>
</div> -->

<div class="col-sm-4 text-center">

<b> Get in touch</b>
<div class="container mt-3" >
<form #getInTouchForm = "ngForm" (ngSubmit)="getInTouchData(getInTouchForm.value)">
<div class="row mt-2">
<div class="col">
<input type="text" class="form-control" name="name" placeholder="Full Name" ngModel>
</div>
<div class="col">
<input type="text" class="form-control" name="company" placeholder="Company" ngModel>
</div>
</div>

<div class="row">
<div class="col">
<input type="text" class="form-control" name="mail" placeholder="Email" ngModel email>
</div>
<div class="col">
<input type="text" class="form-control" name="phone" placeholder="Phone Number" ngModel minlength="10" maxlength="10">
</div>
</div>

<div class="form-group">

<textarea placeholder="Message" class="form-control txtar" id="exampleFormControlTextarea1" rows="3" name="message" ngModel></textarea>
</div>

<button type="submit" class="btn btn-primary">Submit</button>

</form>
</div>

</div>

</div>
<hr style="color: azure;">
<div class="row ml-5 text-left" >
<div class="col-sm-3">
<b>Partnership Registration</b><br>
<b><i class="fa fa-envelope fa-5x" aria-hidden="true"></i>
</b>&nbsp;&nbsp; partnership@recommerceeco.com
<br>
<b><i class="fa fa-phone-square fa-lg" aria-hidden="true"></i>
</b> &nbsp; +91-7337740633<br>

<br>
</div>
<div class="col-sm-3 ">
<b>Delegate Registration</b><br>
<b><i class="fa fa-envelope fa-5x" aria-hidden="true"></i>
</b>&nbsp;&nbsp; registration@recommerceeco.com
<br>
<b><i class="fa fa-phone-square fa-lg" aria-hidden="true"></i>
</b> &nbsp; +91-9606812841<br>
<b><i class="fa fa-phone-square fa-lg" aria-hidden="true"></i>
</b> &nbsp; +91-9972179106<br>
<b><i class="fa fa-phone-square fa-lg" aria-hidden="true"></i>
</b> &nbsp; +91-7337740343<br>

<br>
</div>
<div class="col-sm-3 ">
<b>Speaking Opportunities</b><br>
<b><i class="fa fa-envelope fa-5x" aria-hidden="true"></i>
</b>&nbsp;&nbsp; registration@recommerceeco.com
<br>
<b><i class="fa fa-phone-square fa-lg" aria-hidden="true"></i>
</b> &nbsp; +91-7022250709 <br>
<br>
</div>
<div class="col-sm-3">
<b>Accounts</b><br>
<b><i class="fa fa-envelope fa-5x" aria-hidden="true"></i>
</b>&nbsp;&nbsp; accounts@recommerceeco.com
<br>
<b><i class="fa fa-phone-square fa-lg" aria-hidden="true"></i>
</b> &nbsp; +91-7022446865 <br>


</div>


</div>


<hr style="color: azure;">
<div class="row">
<div class="col-sm-6 text-left mt-1" >
<div class="icondiv">

<a href="https://www.linkedin.com/company/recommerceeco/" target="_blank"> <i class="fa fa-linkedin icon" aria-hidden="true"></i></a>
<a href="https://twitter.com/recommerceeco" target="_blank"><i class="fa fa-twitter icon" aria-hidden="true"></i></a>
<a href="https://www.facebook.com/Recommerceeco" target="_blank"><i class="fa fa-facebook icon" aria-hidden="true"></i></a>


<a href="https://www.instagram.com/recommerceeco/" target="_blank"><i class="fa fa-instagram icon" aria-hidden="true"></i></a>
<a href="https://www.youtube.com/channel/UCEKy6Vs7CFdZu_TvVjokNyA" target="_blank"><i class="fa fa-youtube-play " aria-hidden="true"></i></a>



</div>
<br>
</div>
<div class="col-sm-6 mt-1">
<div class="cpyright">
<p>@Copyright 2020 Urdhva Management Private Limited. All rights reserved.</p>
</div>
</div>
</div>



</footer>
</div>