<div class="gap"></div>
<div class="container-fluid">

    <footer id="footer">
      <div class="row my-3">
  
        <div class="col-sm-4 mx-3"><b>Address: </b><div class="text-center mt-3">4th Floor, 73, 5th main, 1st Cross Rd,<br> Postal Colony, Sanjaynagar, Bengaluru, Karnataka 560094  </div> <b>Phone:</b> +91-9731775124<br> <b>Email:</b> info@urdhvamanagement.com</div>
        <div class="col-sm-4 mt-5"><i class="pi pi-facebook"></i><br><i class="pi pi-twitter" style="color: #97c4fd;"></i> <br><i class="pi pi-youtube"></i> </div>
        <div class="col-sm-3" ><b class="pi pi-map-marker"> Locate Us </b><br>
        
            <div class="mapouter mt-3"><div class="gmap_canvas"><iframe width="300" height="140" id="gmap_canvas" src="https://maps.google.com/maps?q=urdhva&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
             </div></div>
            </div>
      </div>
  
  
  
       <div class="col-sm-12 Copyright" >
        @Copyright 2020 Urdhva Management Private Ltd. All rights reserved.
      </div>
    </footer>
  </div>
  