
<div class="gap20"></div>
<div class="container-fluid">
<div class="col-sm-12 text-center" >
<h3 style="background-color: #2c707a;padding-bottom: 5px;padding-top: 5px;color: white;font-weight: 500;" >Reistered Speakers</h3>

</div>


<div class="row ml-2 " >
<div class="col-sm-12 mt-2" >

<table class="row-border hover" id="user-table" >
<thead>
<tr>
<th>Event name</th>
<th>Name</th>
<th>Organization Name</th>
<th>Email</th>
<th>Tel No/Mobile</th>
<th>City</th>
<th>State</th>
<th>Industry</th>
<th>Designation</th>
<th>LinkedIn URL</th>
<th>Presentation Topic</th>
<th>about speaker</th>
<th>profile</th>

</tr>
</thead>
<tbody >
<tr *ngFor="let item of speakers">
<td style="width: 100px !important;">{{item.event_name}}</td>
<td>{{item.vc_speaker_name}}</td>
<td>{{item.vc_speaker_organization}}</td>
<td>{{item.vc_email}}</td>
<td>{{item.vc_speaker_contact}}</td>
<td>{{item.vc_speaker_city}}</td>
<td>{{item.vc_speaker_state}}</td>
<td>{{item.vc_speaker_industry}}</td>
<td>{{item.vc_speaker_designation}}</td>
<td>{{item.vc_linkedin_link}}</td>
<td>{{item.vc_presentation_topic}}</td>
<td style="width: 200px !important;">{{item.vc_about_speaker}}</td>
<td><img src="{{url+item.vc_speaker_img_link}}" height="90px" width="90px"/>
</td>
</tr>





</tbody>
</table>
</div>

</div>
</div>