form{
    margin-left: -1px;
    }
    
    thead{
    background-color: #0c2e52;
    color: white;
    text-align: center;
    }
    th{
    
    text-align: center;
    font-size: 12px;
    
    }
    
    td{
    width: auto !important;
    text-align: center;
    font-size: 12px;
    word-break: break-all;
    }
    