<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h1 class="header"> Upcoming Events </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3 module-border-wrap mt-3" *ngFor="let upcoming of upcomingData">
            <div class="img-container">
                <img src="{{upcoming.vc_backgroundImage}}" alt="Avatar" class="image" width="100%">
                <div class="centered text-center"></div>
                <div class="middle">
                    <button type="button" class="btn btn-info" (click)="goToEvent(upcoming.id)"> Explore </button>
                </div>
            </div>
        </div>
       
    </div>

</div>
