<div class="container-fluid">
    <div class="gap20"></div>
    <div class="row">
        <div class="col-sm-12 text-center">
            <h3 class="header">OUR BUSINESS PLATFORMS</h3>
        </div>
    </div>
</div>

<div class="gap20"></div>
<div class="row" data-aos="fade-up" data-aos-duration="3000">
    <div class="col-sm-3 text-center">
        <img class="w90" src="./assets/images/C-02.jpg">
        <h5 class="aboutheader">B2B BESPOKE EVENT</h5>
    </div>
    <div class="col-sm-3 text-center">
        <img class="w90" src="./assets/images/C-04.jpg">
        <h5 class="aboutheader">EXPOS</h5>
    </div>
    <div class="col-sm-3 text-center">
        <img class="w90" src="./assets/images/C-01.jpg">
        <h5 class="aboutheader">CONFERENCE</h5>
    </div>

    <div class="col-sm-3 text-center">
        <img class="w90" src="./assets/images/C-03.jpg">
        <h5 class="aboutheader">VIRTUAL CONNECT</h5>
    </div>
</div>



<!-- <div class="box" [@foobar]="state" >
   </div>
 -->
 <div class="gap20"></div>
<div class="row">
    <div class="col-sm-12 text-center">
        <h3 class="header">CONNECTED WITIH OPPORTUNITIES</h3>
    </div>
</div>
<div class="gap20"></div>
    <div class="row connectedbg" style="margin-left:5px !important;">
        
        
        
        <div class="col-sm-6 d-flex a">
           
        <p>    Recommerce is Asia’s exclusive and internationally recognised, B2B Conference and Exhibition Platform for Reverse Commerce, Recycling, Sustainable, and Circular businesses. We are committed to bridging the gap among businesses in the reuse and recycling industry. With the support of Government agencies, Private players and the Public. We hope to bring in best practices into the industry for better living for generations to come.
        </p> </div>

        <div class="col-sm-6">
            <div class="row mt-6 ">
                <div class="col-sm-4 card1 f25 colormain shadow" data-aos="fade-up" data-aos-duration="3000"><span class="f20">GOVERNMENTS </span><br> <b class="ml-4 f30"> 50 </b> +</div>
                <div class="col-sm-4 card1 f25 colormain shadow" data-aos="fade-up" data-aos-duration="3000"><span class="f20"> COMPANIES </span> <br><b class="ml-4 f30"> 200 </b> +</div>
            </div>
            <div class="row mb-6" >
                <div class="col-sm-4 card1 f25 colormain shadow" data-aos="fade-up" data-aos-duration="3000"><span class="f20">VISITORS </span><br><b class="ml-4 f30"> 500 </b> +</div>
                <div class="col-sm-4 card1 f25 colormain shadow" data-aos="fade-up" data-aos-duration="3000"><span class="f20">SPEAKERS </span><br> <b class="ml-4 f30"> 200 </b>+</div>
            </div>
        </div>

    </div>
