<div class="container-fluid" style="background:#f1f1f1;">
    <h2 class="header text-center">About Us</h2>
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-6 ">
                <h3 class="subheader">Who We Are </h3>
                <p>
                    As part of our Engage initiative, we organize conferences, expos, trade shows, and corporate events
                    to
                    interact with the reverse commerce community. Our core focus at all events will always be to
                    increase
                    efforts in recycling and provide a platform for individuals, entrepreneurs and businesses to learn
                    about
                    and carry out recommerce activities. Our journey began with our flagship event Recommerce Expo in
                    2019,
                    now an annual B2B exhibition and conference for e-waste management and refurbished electronics.
                    Looking
                    ahead, we are branching out our activities into the spaces of textile recycling, heavy machinery
                    reuse,
                    medical equipment refurbishing, sustainable real estate and IT development and more. We also conduct
                    training programs at grassroots level, like schools and universities, to inspire innovation and
                    conservation.
                </p>
            </div>
            <div class="col-sm-6" style="background: #056969bf;">

                <h3 class="subheader" style="color: white;"> Get In Touch</h3>
                <div class="container" style="background: white;">
                    <form >
                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control" placeholder="First name">
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Last name">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Email">
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Phone Number">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="exampleFormControlTextarea1"></label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>

                        <button type="button" class="btn btn-info">Register</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>