<div class="container-fluid">

    <div class="row">
        <div class="col-sm-12 text-center">
        <h3 class="header">OUR BUSINESS PLATFORMS</h3>
    </div>
    </div>
</div>

<div class="gap"></div>
<div class="row">
    <div class="col-sm-3 text-center">
        <img class="w90" src="./assets/images/C-02.jpg">
        <h5 class="aboutheader">B2B BESPOKE EVENT</h5></div>
    <div class="col-sm-3 text-center">
        <img class="w90" src="./assets/images/C-04.jpg">
        <h5 class="aboutheader">EXPOS</h5></div>
    <div class="col-sm-3 text-center">
        <img class="w90" src="./assets/images/C-01.jpg">
        <h5 class="aboutheader">CONFERENCE</h5></div>
        
    <div class="col-sm-3 text-center">
        <img class="w90" src="./assets/images/C-03.jpg">
        <h5 class="aboutheader">VIRTUAL CONNECT</h5></div>
</div>