
<div class="container-fluid bg-light">
    <div class="gap20"></div>
    <div class="row">
    <div class="col-sm-12 text-center">
    
    <h3 class="header h0" style="background: #f8f9fa!important;">GOVERNMENTS AND ASSOCIATIONS WE WORKED WITH</h3>
    
    </div>
    </div>
    <div class="gap20"></div>
    <div class="container ">
    <div class="row " data-aos="fade-up"
    data-aos-duration="2500">
    
    <div class="col-sm-15" *ngFor="let association of associationData ">
    <img src="{{association.vc_img_url}}" width="90%" class="ml-2">
    </div>
    
    </div>
    </div>
    <div class="col-sm-12 text-center mt-4">
    <button class="button btn" (click)="viewAll()"><span>View All </span></button>
    <br>
    <br>
    </div>
    </div>