.product-item {
    .product-item-content {
        border-radius: 3px;
        text-align: center;
        margin: 10px;
    }

    .product-image {
        width: 50%;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
    }
}

::ng-deep .p-carousel .p-carousel-indicators {
    padding: 1rem;
    display: none !important;
  }

::ng-deep  .p-carousel-prev   {
    outline: 0 none !important;
    outline-offset: 0 !important;
    // box-shadow: 0 0 0 0.2rem #a6d5fa !important;
    width: 2rem;
    height: 2rem;
    color: #6c757d;
    border: 0 none;
    background: transparent;
    border-radius: 50%;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
    margin: 0.5rem;
} 

::ng-deep .p-carousel-next {
    outline: 0 none !important;
    outline-offset: 0 !important;
    // box-shadow: 0 0 0 0.2rem #a6d5fa !important;
    width: 2rem;
    height: 2rem;
    color: #6c757d;
    border: 0 none;
    background: transparent;
    border-radius: 50%;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
    margin: 0.5rem;
}


