
<div class="row">
    <div class="col-sm-12 text-center">
        <h4 class="header1"> ASSOCIATION PARTNERS </h4>
    </div>
</div>


<div class="gap"></div>

<div class="row">
<div class="col-sm-2 " *ngFor="let partner of associationsData" style="margin: auto;">

    <div class="card " style="margin: auto; margin-top: 10px; ">
        <a href="{{partner.vc_link}}" target="blank" rel="nofollow">  <img class="card-img-top ml-1 mt-3" src="{{partner.vc_img_url}}" alt="Card image cap" style="width:70%;"></a>
     </div>
</div>
</div>

