.aboutbg { 
    background:url(http://api.events.recommerceeco.com/static/images/webimages/eco_friendly.svg);
    background-repeat: no-repeat;
}

.col-sm-5 {
    background-color: #f8f9fa;
    margin: 44px;
    box-shadow: -1px 1px 17px 0px rgba(177,181,180,1);
}


h5{
    color: #858181;
}

.header{
    color:#323232;
}

h3{
    color: #0ba8ea;
    font-weight: 400;
}

