<div class="container-fluid">
    <video width="100%" autoplay muted>
        <source src="./assets/about_video.mp4" type="video/mp4">
    </video>

    <div class="gap"></div>

    <div class="container-fluid ">

        <div class="row ">

            <div class="col-sm-4 text-center">
                <img src="http://api.events.recommerceeco.com/static/images/webimages/eco_friendly.svg">

            </div>
            <div class="col-sm-8" data-aos="fade-up" data-aos-duration="3000" >

                <article>
                    <h1 class="aboutheader "><span style="color: #0ba8ea;">About </span> <span
                            style="color: #162e50;">Recommerce </span></h1>
                    <p class="ml-1" >Our journey began with our flagship event Recommerce Expo in 2019, now an annual B2B exhibition and conference for e-waste management and refurbished electronics. The expo received immense support from major governing bodies and public and private companies and successfully served as a platform for interaction with buyers and sellers from 60+ companies. Recommerce Expo 2020 at the inception of the pandemic could attract more than 1200+ Visitors, today is the biggest platform in India to learn about developments in the electronics reuse industry, find e-waste solutions for your business, gain insights into best practices, and source refurbished products for sustainable living. <br>
                    </p> </article>
                  
                
            </div>
            <div class="ml-3 row text-center" > 
           
             <div class="col-sm-8 text-center ">  <p class="">
                <br>Despite unavoidable hurdles, we could put together, some great virtual webinars on Textile recycling and Food waste management, which got traction and attracted participants globally.
               The trust and values built in the partners could give us the confidence to put The first edition of Recommerce – Global Battery Recycling Conference hybrid(Physical and Virtual) brought together the decision-makers, investors, entrepreneurs, OEM’s, recyclers, scrap dealers, distributors and reverse logistics companies. The two-day conference discussed and debated battery recycling and repair, block chain technologies, entrepreneurship opportunities, environmental rules and safety standards, circular economy, end of life battery management, sustainability in EV 
                  transition and business models to help reduce the environmental impact of battery waste. Recommerce made sure to overcome this barrier and in that it achieved its objective to connect people and businesses involved in the space of recycling and brought the sector one step closer to becoming more organized and collaborate.
                  We are branching out our activities into the spaces of Textile recycling, Food waste Management, Renewable energy recycling, reverse logistics economics, heavy machinery reuse, medical equipment refurbishing, Sustainable Construction and Waste Management and Industrial Scarp reuse and recycling, Automobile Recycling and more.
                </p></div>   

                <div class="col-sm-4">
                    <img src="https://atlas-content-cdn.pixelsquid.com/stock-images/eco-lamp-lightbulb-PO9LYw7-600.jpg" width="100%">
                </div>
            </div>
        </div>
    </div>

    <div class="gap"></div>

    <div class="container-fluid bg-light">
        <div class="container">
            <div class="col-sm-12 text-center">
                <h1 class="aboutheader">What We Do</h1>

            </div>
            <div class="row">
                <div class="col-sm-5 text-center header h1card"  data-aos="fade-up" data-aos-duration="2500"   >
                    <h1> ENGAGE </h1>
                    <h3 class="py-3">
                        Events and Conferences</h3><br>
                    <h5 class="pt-3 pb-5 px-5 text-justify" > We organise events and conferences that foster circular
                        economy vision across industries in India. We understand that the way forward in this is by
                        bringing together the best minds to enable discussions that plant action.</h5>

                </div>
                <div class="col-sm-5 text-center header h1card" data-aos="fade-up" data-aos-duration="2500">
                    <h1> EXHANGE </h1>
                    <h3 class="py-3">
                        Recyclables exchange</h3><br>
                    <h5 class="pt-3 pb-5 px-5 text-justify"> Recyclables exchange is a digital platform that offers a
                        refreshing user experience in buying and selling recyclables. Not only does it do away with
                        endless negotiations but also creates a fair and transparent marketplace.</h5>
                </div>
                <div class="col-sm-5 text-center header h1card" data-aos="fade-up"
                data-aos-duration="3000">
                    <h1> EDUCATE </h1>
                    <h3 class="py-3">
                        The Future is Circular</h3><br>
                    <h5 class="pt-3 pb-5 px-5 text-justify"> Our services of Educate, Enable and Empower are aimed at
                        providing powerful resources to individuals and startups, engaging in reverse commerce
                        activities with a focus on circular economy, to help scale their businesses to full potential.
                    </h5>

                </div>
                <div class="col-sm-5 text-center header h1card" data-aos="fade-up"
                data-aos-duration="3000" >
                    <h1> EMPOWER </h1>

                    <h3 class="py-3">
                        Educate and Transform</h3><br>
                    <h5 class="pt-3 pb-5 px-5 text-justify"> From incubation services for startups, rewards, and CSR activities for organizations to creating strong educational support systems for schools and universities, we enable entrepreneurs, institutions, and businesses to grow and give back to society like no other.</h5>

                </div>
            </div>
        </div>
    </div>

</div>