<div class="container-fluid">
    <video width="100%">
        <source src="./assets/about_video.mp4" type="video/mp4">
    </video>

    <div class="gap"></div>

    <div class="container-fluid ">

        <div class="row ">

            <div class="col-sm-4 text-center">
                <img src="http://api.events.recommerceeco.com/static/images/webimages/eco_friendly.svg">

            </div>
            <div class="col-sm-8" data-aos="fade-up" data-aos-duration="3000" >

                <article>
                    <h1 class="aboutheader "><span style="color: #0ba8ea;">About </span> <span
                            style="color: #162e50;">Recommerce </span></h1>
                    <p class="" >As part of our Engage initiative, we organize conferences, expos, trade shows, and
                        corporate events to interact with the reverse commerce community. Our core focus at all events
                        will always be to increase efforts in recycling and provide a platform for individuals,
                        entrepreneurs and businesses to learn about and carry out recommerce activities. Our journey
                        began with our flagship event Recommerce Expo in 2019, now an annual B2B exhibition and
                        conference for e-waste management and refurbished electronics. Looking ahead, we are branching
                        out our activities into the spaces of textile recycling, heavy machinery reuse, medical
                        equipment refurbishing, sustainable real estate and IT development and more. We also conduct
                        training programs at grassroots level, like schools and universities, to inspire innovation and
                        conservation.
                    </p>
                </article>
                <div class="gap"></div>
            </div>

        </div>
    </div>

    <div class="gap"></div>

    <div class="container-fluid bg-light">
        <div class="container">
            <div class="col-sm-12 text-center">
                <h1 class="aboutheader">What We Do</h1>

            </div>
            <div class="row">
                <div class="col-sm-5 text-center header h1card"  data-aos="fade-up" data-aos-duration="2500"   >
                    <h1> ENGAGE </h1>
                    <h3 class="py-3">
                        Events and Conferences</h3><br>
                    <h5 class="pt-3 pb-5 px-5 text-justify" > We organise events and conferences that foster circular
                        economy vision across industries in India. We understand that the way forward in this is by
                        bringing together the best minds to enable discussions that plant action.</h5>

                </div>
                <div class="col-sm-5 text-center header h1card" data-aos="fade-up" data-aos-duration="2500">
                    <h1> EXHANGE </h1>
                    <h3 class="py-3">
                        Recyclables exchange</h3><br>
                    <h5 class="pt-3 pb-5 px-5 text-justify"> Recyclables exchange is a digital platform that offers a
                        refreshing user experience in buying and selling recyclables. Not only does it do away with
                        endless negotiations but also creates a fair and transparent marketplace.</h5>
                </div>
                <div class="col-sm-5 text-center header h1card" data-aos="fade-up"
                data-aos-duration="3000">
                    <h1> EDUCATE </h1>
                    <h3 class="py-3">
                        The Future is Circular</h3><br>
                    <h5 class="pt-3 pb-5 px-5 text-justify"> Our services of Educate, Enable and Empower are aimed at
                        providing powerful resources to individuals and startups, engaging in reverse commerce
                        activities with a focus on circular economy, to help scale their businesses to full potential.
                    </h5>

                </div>
                <div class="col-sm-5 text-center header h1card" data-aos="fade-up"
                data-aos-duration="3000" >
                    <h1> EMPOWER </h1>

                    <h3 class="py-3">
                        Events and Conferences</h3><br>
                    <h5 class="pt-3 pb-5 px-5 text-justify"> We organise events and conferences that foster circular
                        economy vision across industries in India. We understand that the way forward in this is by
                        bringing together the best minds to enable discussions that plant action.</h5>

                </div>
            </div>
        </div>
    </div>

</div>