

.card {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; width: 90%;
    transition: 0.3s;
    border-radius: 5px;
    }
    
    
    
    .card:hover {
    box-shadow: 0 8px 20px 0 rgba(0,0,0,0.2);
    }
    .fa{
    font-size: 18px;
    
    }
    
    .container {
    
    height: 70px;
    text-align: center;
    
    }
    .container1 {
    
    height: 60px;
    text-align: center;
    
    }
    .disc{
    text-align: justify;
    }
    .fullname{
    font-weight: 520;color: #0c2e52;text-align:center ;
    margin-bottom: 0px;
    
    height: 45px;
    }
    .fullname1{
    margin-top: 10px;
    font-weight: 520;color: #0c2e52;text-align:center ;
    margin-bottom: 0px;
    
    }
    .hed{
    font-weight: 530;font-size:30px;color: #0c2e52;
    margin-top: 10px;
    }
    li{
    
    height: 45px !important;
    width: 250px !important;
    background-color: #f8f9fa;
    color:#0c2e52 ;
    font-weight: 500;
    
    text-align: left;
    border-radius: 0 !important;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; width: 90%;
    list-style-type: none;
    padding-top: 10px;
    }
    
    .active{
    background-color: #0c2e52;
    color:white;
    }
    
    h6{
    padding-top: 10px !important;
    }
    
    b{
    margin-bottom: 20px !important;
    }
    
    .mrg{
    text-align:center;
    
    }
    .rr{
    margin-left: 0px !important;
    
    }
    
    .p-dialoh-header{
    background-color: chartreuse;
    }
    ::ng-deep .p-dialog .p-dialog-header {
    background: #0c2e52;
    color: white;
    }
    
    ::ng-deep .p-dialog .p-dialog-header .p-dialog-header-icon{
    color: #495057;
    border-color: transparent;
    background: #e9ecef;
    }
    @media only screen and (max-width: 600px) {
    
    ::ng-deep .p-dialog {
    margin-top: 50px !important;
    width: 94vw !important;
    }
    li{
    width: auto !important;
    margin-left: -25px;
    margin-right: 10px;
    text-align: center;
    }
    
    img{
    height: auto;
    }
    
    }
    
    @media only screen
    and (min-device-width: 768px)
    and (max-device-width: 1024px)
    and (-webkit-min-device-pixel-ratio: 1) {
    
    ::ng-deep .p-dialog {
    margin-top: -362px !important;
    }
    
    
    li{
    
    height: 45px !important;
    width:auto !important;
    background-color: #f8f9fa;
    color:#0c2e52 ;
    font-weight: 500;
    
    text-align: left;
    border-radius: 0 !important;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; width: 90%;
    list-style-type: none;
    padding-top: 10px;
    }
    
    
    img{
    height: 120px;
    }
    
    .col-sm-3{
    min-width: 20%;
    }
    .fullname {
    font-size: 12px !important;
    font-weight: 500;
    color: #009bff;
    text-align: center;
    margin-bottom: 0px;
    }
    }
    
    .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    }
    
    .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    }
    
    .card:hover .image {
    opacity: 0.3;
    }
    
    .card:hover .middle {
    opacity: 1;
    }