<div class="container-fluid bg-light">
    <div class="gap20"></div>
    <div class="row">
    <div class="col-sm-12 text-center">
    
    <h3 class="header h0" style="background: #f8f9fa!important;">GOVERNMENTS</h3>
    
    </div>
    </div>
    <div class="gap20"></div>
    <div class="container text-center ">
    <div class="row text-center" data-aos="fade-up"
    data-aos-duration="2500">
    
    <div class="col-sm-15 hover06" *ngFor="let association of govt ">
    <img src="{{association.vc_img_url}}" width="90%" class="ml-2">
    </div>
    
    </div>
    </div>
    
    <!-- association -->
    <div class="gap20"></div>
    <div class="row">
    <div class="col-sm-12 text-center">
    
    <h3 class="header h0" style="background: #f8f9fa!important;">ASSOCIATIONS</h3>
    
    </div>
    </div>
    <div class="gap20"></div>
    <div class="container ">
    <div class="row " data-aos="fade-up"
    data-aos-duration="2500">
    
    <div class="col-sm-15 hover06" *ngFor="let association of associationData ">
    <img src="{{association.vc_img_url}}" width="90%" class="ml-2">
    </div>
    
    </div>
    </div>
    
    <!-- clients -->
    <div class="gap20"></div>
    <div class="row">
    <div class="col-sm-12 text-center">
    
    <h3 class="header h0" style="background: #f8f9fa!important;">OUR CLIENTS</h3>
    
    </div>
    </div>
    <div class="gap20"></div>
    <div class="container ">
    <div class="row " data-aos="fade-up"
    data-aos-duration="2500">
    
    <div class="col-sm-15 hover06" *ngFor="let lient of clients ">
    <img src="{{lient.vc_img_url}}" width="90%" class="ml-2">
    </div>
    
    </div>
    </div>
    </div>