form{
    margin-left: -1px;
    }
    
    thead{
    background-color: #0c2e52;
    color: white;
    text-align: center;
    }
    th{
    width: 0% !important;
    text-align: center;
    font-size: 12px;
    }
    
    td{
    width: 0% !important;
    text-align: center;
    font-size: 12px;
    }
    
    
    body {
    font-size: 10px !important;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
    }