.card {
    border:0px;
    background: none;
}

.col-sm-2 {
margin: 10px;
}

.Pastheader {
    background-color: deepskyblue;
    width: 100%;
    padding: 0.5rem;
    color: white;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
}

.col-sm-15 {
    margin: auto !important;
    margin-left: 13px !important;
    margin-top: 10px !important;
}