input {
    margin: 15px;
    width: 90%;
    padding: 18px;
}

textarea {
    width: 100%;
    
}

.checkbok {
    width: 10%;
    margin: 5px;
}

.popHead{ 
    border:  1px solid red;
    margin: 10px;
}

label{
margin-bottom: 0rem;
font-size: 14px;
    color: #590707;
}


