<div class="row"  [ngStyle]="{ 'background-image': 'url(' +aboutBg+ ')' , 'background-size' : 'cover' }">

    <div class="col-sm-4">

    </div>
    <div class="col-sm-8">

        <article>
                <h2 class="aboutheader">About Event</h2>
            <p>As part of our Engage initiative, we organize conferences, expos, trade shows, and corporate events to interact with the reverse commerce community. Our core focus at all events will always be to increase efforts in recycling and provide a platform for individuals, entrepreneurs and businesses to learn about and carry out recommerce activities. Our journey began with our flagship event Recommerce Expo in 2019, now an annual B2B exhibition and conference for e-waste management and refurbished electronics. Looking ahead, we are branching out our activities into the spaces of textile recycling, heavy machinery reuse, medical equipment refurbishing, sustainable real estate and IT development and more. We also conduct training programs at grassroots level, like schools and universities, to inspire innovation and conservation.
       </p> </article>
    </div>

</div>
