<!-- video section -->

<div class="container-fluid">
    <video width="100%">
        <source src="./assets/images/video.mp4" type="video/mp4">
    </video>
</div>

<!-- video section ends -->
<div class="container">

    <h2 class="header text-center">Our Events</h2>


    <div class="col-sm-12">

        <p-tabView>
            <p-tabPanel header="Upcoming Events">
                <div class="row">
                    <div class="col-sm-4 module-border-wrap" *ngFor="let upcoming of upcomingData">
                      <div class="img-container">
                            <img src="{{upcoming.vc_backgroundImage}}" alt="Avatar" class="image">
                            <div class="centered text-center"> Global Battery Recycling Conference</div>
                              <div class="middle">
                                <button type="button" class="btn btn-info" (click)="goToEvent(upcoming.id)"> Explore </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 text-center">
                    <button type="button" class="btn btn-info mt-5" (click)="goToEvents('upcoming')"> View All Events </button>
                </div>

            </p-tabPanel>








            <p-tabPanel header="Past Events">
                <div class="row">
                    <div class="col-sm-4 module-border-wrap" *ngFor="let past of pastData">
                        <div class="img-container">
                            <img src="{{past.vc_backgroundImage}}" alt="Avatar" class="image">
                            <div class="centered text-center">Global Battery Recycling Conference</div>
                            <div class="middle">
                                <button type="button" class="btn btn-info" > Explore </button>
                            </div>
                        </div>
                    </div>
                   
                </div>
                <div class="col-sm-12 text-center">
                    <button type="button" class="btn btn-info mt-5" (click)="goToEvents('past')"> View All Events </button>
                </div>
            </p-tabPanel>

        </p-tabView>



    </div>
    <div class="gap"></div>
</div>
<app-govt></app-govt>
<app-aboutus></app-aboutus>