


<div class="container-fluid bg">

    <div class="container">
    <div class="row">
        <div class="col-sm-12 align  text-center">
            
           <span class="aboutheader"> Please Login</span>

            <form #login = "ngForm" (ngSubmit)="loginData(login.value ,login)">
                <div class="col-sm-12 align-middle  text-center">
                <input type="text" placeholder="user name" name="username" required ngModel>
            </div>

            <div class="col-sm-12 align-middle  text-center">
                <input type="password" placeholder="password" name="password" required ngModel>
            </div>

            <div>
                <button type="submit" class="btn btn-primary" [disabled]="!login.valid"> Submit </button>
            </div>
            
            </form>
            <div>
                <button  class="btn btn-primary" (click)="logOut()"> Logout </button>
            </div>

        </div>
        
    </div>
</div>
</div>