form{
    margin-left: -1px;
    }
    
    thead{
    background-color: #0c2e52;
    color: white;
    text-align: center;
    }
    th{
    background-color: #0c2e52;
    text-align: center;
    font-size: 12px;
    color: white;
    }
    
    td{
    width: auto !important;
    text-align: center;
    font-size: 12px;
    word-break: break-all;
    }
    
    .btn{
    width: 150px;
    background-color: #025a9d;
    color: white;
    }
    
    .active{
    background-color: #0c2e52;
    color:white;
    }