/* You can add global styles to this file, and also import other style files */

.container-fluid {
    padding:0px !important;
}

.header {
    padding-top: 40px;
    color: #056969;
    background: white;
    font-weight: 200;
}

.header1{
    color: #1a1b1f;
    font-weight: 600;
    margin-left: -15px;
    padding-bottom: 10px;
    font-size: 22px;
    }

.subheader {
    padding: 20px;
    color: #056969;
}

.gap {
    padding: 30px;
}

.gap20 {
    padding: 15px;
}

.row {
    margin-right: 0px !important;
}

i {
    color:#056969;
    
}

.nav-link:hover {
    
    i {
        color:#15abea;
      }
}

.nav-item {
    padding-left: 20px;
    font-size: 18px;
    text-indent: 1px;
    font-weight: 400;
}

.nav-link {
    color:#192f4d !important;
}

p {
     
    text-align: justify;
}

.formbg {
    background: #e7e7e7;
    background-size: cover;
}

.f12 {
    font-size: 12px;
    color: white;
}

.f15 {
    font-weight: 500;
    font-size: 15px;
    color: white;
}

.form-control-feedback { color: rgb(168, 31, 31);
    margin-left: 50px;
    font-size: 15px;
    font-weight: 400;
    animation: 1.0s alertAnim forwards;
  
  }
  
  @keyframes alertAnim {
    from {
        opacity:0;
        transform: translateY(-20px);
    }
    to {
        opacity:1;
        transform: translateY(0);
    }
  }

  .aboutheader{
    color: rgb(39, 3, 3);
    padding: 20px;
    font-weight: 700;
    padding-top: 50px;
}